@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  /* сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #666;
  position: relative;
  font-display: block;
}

a {
  color: inherit;
  /*будет наследоваться от родительского блока*/
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  /*чтобы границы ячеек сливались*/
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*меняет алгоритм расчета ширины и высоты элемента, теперь включает поля и границы, но не отступы*/
}

img {
  display: block;
  max-width: 100%;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  /*чтобы не было горизонтального скролла*/
  width: 100%;
  height: 100%;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

.hero {
  background: url("../images/decor/big-leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100%;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  content: url("../images/decor/leaf.png");
  position: absolute;
  bottom: -2.7777777778rem;
  left: 2%;
}
.hero:after {
  content: url("../images/decor/berries.png");
  position: absolute;
  bottom: -2.7777777778rem;
  right: 5%;
}
.hero__container {
  background: url("../images/decor/chocolates.png") right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}
.hero__text-content {
  margin-bottom: 4.7222222222rem;
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .hero__text-content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__text-content:before {
    content: "";
    width: 20.4444444444rem;
    height: 20.3333333333rem;
    background: url("../images/decor/hero-bars.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__text-content:before {
    content: "";
    width: 18.9444444444rem;
    height: 19.1111111111rem;
  }
}
.hero__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.2777777778rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__title {
    line-height: 2rem;
  }
}
.hero__subtitle {
  margin-bottom: 1.5555555556rem;
  font-size: 1.1666666667rem;
  line-height: 1.4444444444rem;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    padding: 0 26%;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    padding: 0 15%;
  }
}
@media screen and (max-width: 768px) {
  .hero__icons {
    display: none;
  }
}

.header {
  margin-bottom: 5.6666666667rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .header .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menu__item {
  margin-right: 1.6111111111rem;
  margin-bottom: 0.5555555556rem;
  transition: text-shadow 0.3s;
}
.menu__item_active {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  line-height: 1.6666666667rem;
  white-space: nowrap;
  transition: text-shadow 0.3s;
}
.menu__link:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  display: block;
  margin-right: 0.5555555556rem;
  flex-shrink: 0;
}

.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.3333333333rem;
  line-height: 1.6666666667rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.phone-number:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.phone-number:hover .phone-number__icon-img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
.phone-number_theme_green {
  color: #365a49;
}
.phone-number_size_small {
  font-size: 1.1666666667rem;
}
.phone-number__icon {
  flex-shrink: 0;
}
.phone-number__icon-img {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}
.phone-number__text {
  white-space: nowrap;
}

.features {
  display: flex;
  justify-content: space-between;
  width: 48%;
}
.features__item {
  margin-right: 2.6111111111rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}
.feature__icon {
  min-width: 2.2222222222rem;
  margin-right: 0.3888888889rem;
}
.feature__icon-img {
  width: 2.4444444444rem;
  height: 2.4444444444rem;
  fill: #c6f7ff;
}
.feature__text {
  font-size: 0.8888888889rem;
  min-width: 3.6111111111rem;
  line-height: 1.1111111111rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2222222222rem 1.8333333333rem 1.0555555556rem 1.9444444444rem;
  border-radius: 32px;
  line-height: 1;
  border: none;
  cursor: pointer;
}
.btn_theme_light {
  background-color: #fff;
  color: #365a49;
  transition: color, background-color 0.3s;
}
.btn_theme_light:hover {
  background-color: #365a49;
  color: #fff;
}
.btn_theme_dark {
  background-color: #365a49;
  color: #fff;
  transition: color, background-color 0.3s;
}
.btn_theme_dark:hover {
  background-color: #fff;
  color: #365a49;
}
.btn_hover_dark:hover {
  background-color: #2e4e3f;
  color: #fff;
}
.btn_theme_transparent {
  background-color: transparent;
  color: #000;
  text-transform: none;
  font-weight: normal;
  transition: color 0.3s;
}
.btn_theme_transparent:hover {
  color: #365a49;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title {
  color: #000;
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.3333333333rem;
}
.section__title_mb_small {
  margin-bottom: 1.6666666667rem;
}
.section__title_mb_medium {
  margin-bottom: 2.2222222222rem;
}
.section__title_color_darkgreen {
  color: #365a49;
}

.headline {
  text-align: center;
  margin-bottom: 2.2777777778rem;
}
.headline__title {
  margin-bottom: 0.7222222222rem;
  line-height: 1;
}
.headline__subtitle {
  padding: 0 26%;
  line-height: 1.2222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 3%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0 2%;
    margin-bottom: 2.2222222222rem;
  }
}
.benefits__item:before {
  content: url("../images/decor/separator.png");
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}
.benefit__image {
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}
.benefit__image-wrapper {
  display: inline-flex;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__icon {
  width: 4.1666666667rem;
  height: 3.2777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2e2d;
}
.benefit__title {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7222222222rem;
}
.benefit__desc p {
  font-weight: 300;
  line-height: 1.2222222222rem;
  margin-bottom: 1.1111111111rem;
}
.benefit__desc p:last-child {
  margin-bottom: 0;
}

.benefits-section {
  position: relative;
  background: url("../images/decor/side-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  content: url("../images/decor/bars-and-berries.png");
  position: absolute;
  bottom: -5.1666666667rem;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.reviews-section {
  position: relative;
  background: url("../images/decor/granola-and-berries.png") right top 10% no-repeat;
}
.reviews-section:before {
  content: url("../images/decor/leftside-leaf.png");
  position: absolute;
  bottom: -7.2222222222rem;
  left: 0;
  z-index: 1;
}
.reviews-section:after {
  content: url("../images/decor/multi-berries.png");
  position: absolute;
  bottom: -3.3333333333rem;
  left: 0;
  z-index: 2;
}

.reviews__display {
  background: url("../images/decor/grey-berries.png") right top 5% no-repeat;
  background-color: #f8faf9;
  padding: 2.7777777778rem 9.8888888889rem 1.8888888889rem 2.5rem;
  margin-bottom: 0.8333333333rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 2.7777777778rem 1.1111111111rem 1.8888888889rem;
    margin-bottom: 1.7777777778rem;
  }
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}
.reviews__list {
  position: relative;
  min-height: 19.1666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__list {
    min-height: 23.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__list {
    min-height: 26.2777777778rem;
  }
}
.reviews__item {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.reviews__item_active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}
.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3888888889rem;
    margin-right: 0;
    margin-bottom: 1.5555555556rem;
  }
}
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
}
.reviews__title {
  color: #000;
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
}
.reviews__text {
  margin-bottom: 1.3888888889rem;
}
.reviews__text p {
  line-height: 1.2222222222rem;
  margin-bottom: 1.1111111111rem;
}
.reviews__text p:last-child {
  margin-bottom: 0;
}
.reviews__author {
  color: #000;
  font-weight: 500;
}
.reviews__switcher {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher-item {
    margin-right: 1.3888888889rem;
  }
  .reviews__switcher-item:last-child {
    margin-right: 0;
  }
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s;
}
@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 3.3333333333rem;
    height: 3.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 3.0555555556rem;
    height: 3.0555555556rem;
  }
}
.interactive-avatar:hover {
  border-color: #365a49;
}
.interactive-avatar_active {
  border-color: #365a49;
}
.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.interactive-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  position: relative;
  background: url("../images/bg/pattern.jpg") center center/cover no-repeat;
  background-size: cover;
  color: #365a49;
}
@media screen and (max-width: 768px) {
  .order-section:before, .order-section:after {
    display: none;
  }
}
.order-section:before {
  content: url("../images/decor/single-berry.png");
  position: absolute;
  bottom: 5rem;
  left: 0;
}
.order-section:after {
  content: url("../images/decor/single-leaf.png");
  position: absolute;
  bottom: 5rem;
  right: 0;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: 0.8333333333rem;
}
.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  border: none;
  border: 3px solid transparent;
  padding: 1rem 0.6111111111rem;
  color: #000;
  font-family: "Open Sans";
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.4444444444rem;
    font-size: 0.7777777778rem;
  }
}
.form__input:focus {
  outline: none;
  border-color: #dee2bd;
}
.form__input_textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input_textarea {
    height: 4.4444444444rem;
  }
}
.form__controls-wrapper {
  margin-bottom: 1.3888888889rem;
}
.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
.form__btns {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__btns {
    justify-content: center;
  }
}
.form__btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #dee2bd;
}

.input-error {
  border-color: red;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 0.6111111111rem;
  margin-right: 1.1111111111rem;
}
.radio_checkbox .radio__visible {
  border-radius: 0;
}
.radio_checkbox .radio__visible:before {
  width: 0.6111111111rem;
  height: 0.5rem;
  mask-image: url("../images/icons/checkmark.svg");
  -webkit-mask-image: url("../images/icons/checkmark.svg");
  background-color: #365a49;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}
.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-section {
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.3888888889rem 0;
  background: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.1666666667rem;
  color: #000;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .contacts__place {
    margin-bottom: 0.5555555556rem;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials__item {
  margin-right: 1.1111111111rem;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  display: block;
  text-decoration: none;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.socials__icon {
  fill: #ccc;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.socials__icon:hover {
  fill: #000;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu_shadowed .fixed-menu__item_active .fixed-menu__link {
  border-color: #000;
}
.fixed-menu_shadowed .fixed-menu__link:hover {
  border-color: #000;
}
.fixed-menu_shadowed .fixed-menu__link:before {
  background-color: #000;
}
.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:hover {
  border-color: #fff;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  width: 1.3333333333rem;
  height: 1.1111111111rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}
.hamburger__icon {
  fill: #fff;
  width: 100%;
  height: 100%;
}

.overlay {
  display: none;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333537;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.overlay__close {
  position: absolute;
  right: 1.4444444444rem;
  top: 1.7777777778rem;
}
.overlay__close:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}
.overlay__close-icon {
  opacity: 0.7;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.overlay-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay-menu__link {
  text-decoration: none;
  font-size: 2rem;
  line-height: 2;
  transition: text-shadow 0.3s;
}
.overlay-menu__link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.slider-section {
  position: relative;
  background-color: #f8faf9;
}
.slider-section:before {
  content: url("../images/decor/slider-leaf.png");
  position: absolute;
  bottom: -10rem;
  right: 0;
}
@media screen and (max-width: 480px) {
  .slider-section:before {
    bottom: -38%;
  }
}
.slider-section:after {
  content: url("../images/decor/blueberries.png");
  position: absolute;
  bottom: -3.6111111111rem;
  right: 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__arrow_left .slider__arrow-icon {
  transform: rotate(180deg);
}
.slider__arrow-icon {
  width: 0.7222222222rem;
  height: 1.5555555556rem;
}
.slider__list {
  position: relative;
  min-height: 26.6666666667rem;
}
.slider__item {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  flex: 0 0 auto;
}
.slider__item_active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .bar {
    flex-direction: column;
  }
}
.bar__image-content {
  display: flex;
  align-items: center;
  width: 50%;
  max-height: 23.5555555556rem;
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .bar__image-content {
    margin-right: 0;
    width: 72%;
    align-items: flex-end;
  }
}
.bar__text-content {
  max-width: 20rem;
}
@media screen and (max-width: 768px) {
  .bar__text-content {
    text-align: center;
    max-width: 30.2777777778rem;
  }
}
.bar__composition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: #86c3d7;
  border-radius: 5px;
  margin-bottom: 1.6666666667rem;
  position: relative;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .bar__composition {
    display: none;
  }
}
.bar__composition:hover {
  cursor: pointer;
  background: #60aacc;
}
.bar__composition:hover .bar__dropdown {
  top: 0;
  opacity: 0.95;
  transition: opacity 0.5s;
}
.bar__composition-title {
  font-size: 0.7777777778rem;
  font-weight: bold;
  text-transform: uppercase;
}
.bar__icon {
  width: 2.8333333333rem;
  height: 2.8333333333rem;
  margin-bottom: 0.4444444444rem;
}
.bar__dropdown {
  opacity: 0;
  position: absolute;
  top: -555.5rem;
  left: 5rem;
}
.bar__title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  line-height: 1.2;
  margin-bottom: 0.5555555556rem;
}
.bar__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .bar__description {
    align-items: center;
  }
}
.bar__description-text {
  margin-bottom: 1.6666666667rem;
}
.bar__description-text p {
  margin-bottom: 1.1111111111rem;
}
.bar__description-text p:last-child {
  margin-bottom: 0;
}
.bar__features {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.3888888889rem;
}
.bar__features-cell {
  margin-right: 2.7777777778rem;
}
.bar__features-cell:last-child {
  margin-right: 0;
}
.bar__features-value {
  color: #000;
  font-weight: bold;
}
.bar__offer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bar__price {
  color: #151515;
  font-size: 3.3333333333rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 1.6666666667rem;
  line-height: 1;
}

.ingredients {
  width: 15rem;
  background-color: #fff;
  padding: 1.2222222222rem 1rem 1.1666666667rem 1.6666666667rem;
  color: #000;
  border-radius: 5px;
}
.ingredients__item {
  margin-bottom: 0.8333333333rem;
}
.ingredients__item:last-child {
  margin-bottom: 0;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  font-size: 0.8888888889rem;
  line-height: 1.5;
}
.ingredient__wrapper {
  display: flex;
  align-items: center;
}
.ingredient__icon {
  width: 1.9444444444rem;
  height: 1.9444444444rem;
  margin-right: 1.1111111111rem;
}
.ingredient__title {
  font-weight: 500;
  margin-right: 1.1111111111rem;
}
.ingredient__amount {
  font-weight: 400;
}

.team-section {
  position: relative;
}
.team-section:before {
  content: url("../images/decor/single-raspberry.png");
  position: absolute;
  bottom: -8%;
  left: 1%;
  z-index: 2;
}

.teammates_version_desktop {
  display: flex;
  justify-content: center;
}
.teammates_version_mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .teammates_version_desktop {
    display: none;
  }
  .teammates_version_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 33.3333333333rem;
  }
}
.teammates__item {
  margin-right: 1.1111111111rem;
  max-width: calc(100% / 4 - 20px);
  min-height: 27rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .teammates__item {
    margin-right: 0;
    min-height: 1.1111111111rem;
    max-width: 13.8888888889rem;
  }
}
.teammates__item:last-child {
  margin-right: 0;
}

.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teammate_active .teammate__name-icon {
  transform: rotate(-180deg);
}
.teammate_active .teammate__info {
  max-height: 100vh;
}
@media screen and (max-width: 768px) {
  .teammate_active .teammate__info {
    max-height: 22.7777777778rem;
    margin-bottom: 1.1111111111rem;
  }
}
.teammate__photo {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .teammate__photo {
    width: 12.4444444444rem;
    height: 16.0555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .teammate__photo {
    width: 7.8888888889rem;
    height: 10.2222222222rem;
  }
}
@media screen and (max-width: 768px) {
  .teammate__photo-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.teammate__name {
  color: #000;
  font-size: 1.1666666667rem;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  position: relative;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
}
.teammate__name:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.teammate__name:hover .teammate__name-icon {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
.teammate__name-icon {
  width: 0.5rem;
  height: 0.3888888889rem;
  margin-left: 0.2777777778rem;
  transition: transform 0.3s;
}
.teammate__info {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: max-height 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teammate__position {
  color: #000;
}
.teammate__responsibilities {
  font-weight: 300;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal__container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__content {
  margin-bottom: 1.6666666667rem;
  color: #000;
  text-align: center;
}

.player-section {
  position: relative;
}
.player-section:after {
  content: url("../images/decor/blackberry.png");
  position: absolute;
  bottom: -6.3888888889rem;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .player-section:after {
    content: url("../images/decor/blackberry-tablets.png");
    bottom: -4rem;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  .player-section:after {
    content: url("../images/decor/blackberry-phones.png");
  }
}
.player-section__container {
  max-width: 95%;
  width: 36.6666666667rem;
  max-height: 22.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .player-section__container {
    width: 33.0555555556rem;
    max-height: 20.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .player-section__container {
    width: 22.0555555556rem;
    max-height: 13.6111111111rem;
  }
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.player:before {
  content: url("../images/decor/player-leaves.png");
  position: absolute;
  bottom: -15%;
  left: -18%;
}
@media screen and (max-width: 768px) {
  .player:before {
    content: url("../images/decor/player-leaves-tablets.png");
    bottom: 16%;
    left: -18%;
  }
}
@media screen and (max-width: 480px) {
  .player:before {
    content: url("../images/decor/player-leaves-phones.png");
    bottom: -26%;
    left: -18%;
  }
}
.player.paused .player__start {
  width: 0.8888888889rem;
  height: 1.2222222222rem;
  border: none;
}
@media screen and (max-width: 768px) {
  .player.paused .player__start {
    width: 0.7777777778rem;
    height: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .player.paused .player__start {
    width: 0.5555555556rem;
    height: 0.7222222222rem;
  }
}
.player.paused .player__start:after, .player.paused .player__start:before {
  content: "";
  display: block;
  width: 0.2777777778rem;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #626262;
}
@media screen and (max-width: 768px) {
  .player.paused .player__start:after, .player.paused .player__start:before {
    width: 0.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .player.paused .player__start:after, .player.paused .player__start:before {
    width: 0.1666666667rem;
  }
}
.player.paused .player__start:after {
  right: 0;
}
.player.paused .player__start:before {
  left: 0;
}
.player.paused .player__start-icon {
  display: none;
}
.player.active .player__splash {
  display: none;
}
.player__elem {
  height: 100%;
  width: 100%;
}
.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: url("../images/decor/splashscreen.jpg") center center/cover no-repeat;
}
.player__splash-icon {
  width: 4.5555555556rem;
  height: 6.5555555556rem;
  opacity: 0.9;
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .player__splash-icon {
    width: 4.0555555556rem;
    height: 5.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .player__splash-icon {
    width: 2.7222222222rem;
    height: 3.9444444444rem;
  }
}
.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.9444444444rem;
  background: #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .player__controls {
    padding: 0 1.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .player__controls {
    padding: 0 0.6666666667rem;
  }
}
.player__start {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  outline: none;
}
.player__start-icon {
  width: 0.8888888889rem;
  height: 1.2222222222rem;
  fill: #626262;
}
@media screen and (max-width: 768px) {
  .player__start-icon {
    width: 0.7777777778rem;
    height: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .player__start-icon {
    width: 0.5555555556rem;
    height: 0.7222222222rem;
  }
}
.player__playback {
  width: 24.6666666667rem;
  height: 0.2222222222rem;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .player__playback {
    width: 22.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .player__playback {
    width: 14.8888888889rem;
  }
}
.player__playback:before {
  content: "";
  height: 0.2222222222rem;
  position: absolute;
  background: #626262;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: block;
}
.player__playback-button {
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  border-radius: 50%;
  position: absolute;
  background: #626262;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.player__volume {
  display: flex;
  align-items: center;
}
.player__volume-icon {
  width: 1rem;
  height: 1.2222222222rem;
  fill: #626262;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .player__volume-icon {
    width: 0.8888888889rem;
    height: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .player__volume-icon {
    width: 0.6111111111rem;
    height: 0.7222222222rem;
  }
}
.player__volume-bar {
  width: 3.2222222222rem;
  height: 0.2222222222rem;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .player__volume-bar {
    width: 2.9444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .player__volume-bar {
    width: 2rem;
  }
}
.player__volume-bar:before {
  content: "";
  height: 0.2222222222rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: block;
  background: #626262;
}
.player__volume-button {
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  border-radius: 50%;
  position: absolute;
  background: #626262;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.products-menu-section {
  position: relative;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/bg/menu.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.products-menu-section__title {
  padding-top: 5.5rem;
  padding-left: 4.3888888889rem;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}
.products-menu__item {
  display: flex;
}
.products-menu__title {
  position: relative;
  background: #000;
  width: 5.5555555556rem;
}
.products-menu__content {
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}
.products-menu__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-menu__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-90deg);
  font-size: 2.6666666667rem;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 2.5555555556rem;
}
.products-menu__container {
  position: relative;
  padding: 2.2222222222rem 4.0555555556rem 2.5rem 1.4444444444rem;
}
.products-menu__close {
  position: absolute;
  right: 1.4444444444rem;
  top: 1.7777777778rem;
  color: #fff;
}
.products-menu__close:hover .products-menu__close-icon {
  opacity: 0.7;
}
.products-menu__close-icon {
  width: 1rem;
  height: 1rem;
  transition: opacity 0.3s;
}
.products-menu__content-text p {
  font-size: 0.8888888889rem;
  font-weight: 400;
}