$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$blue: #61c4d9;
$darkGreen: #365a49;
$grey: #666;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

//base style
@import "components/base";

//components
@import "components/hero";
@import "components/header";
@import "components/menu";
@import "components/logo";
@import "components/phone-number";
@import "components/features";
@import "components/feature";
@import "components/btn";

