$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$blue: #61c4d9;
$darkGreen: #365a49;
$grey: #666;

//z-indexes
$z-fixed-menu: 100;
$z-review-leaf: 1;
$z-review-berries: 2;

// media
@import "media";

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

//base style
@import "base";

//components
@import "components/hero";
@import "components/header";
@import "components/menu";
@import "components/logo";
@import "components/phone-number";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/reviews-section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/order-section";
@import "components/form";
@import "components/radio";
@import "components/map-section";
@import "components/footer";
@import "components/contacts";
@import "components/socials";
@import "components/fixed-menu";
@import "components/hamburger";
@import "components/overlay";
@import "components/slider-section";
@import "components/slider";
@import "components/bar";
@import "components/ingredients";
@import "components/team-section";
@import "components/teammates";
@import "components/teammate";

