@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html, body {
  height: 100%;
}

body {
  /* сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.42;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #666;
  position: relative;
}

a {
  color: inherit;
  /*будет наследоваться от родительского блока*/
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  /*чтобы границы ячеек сливались*/
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*меняет алгоритм расчета ширины и высоты элемента, теперь включает поля и границы, но не отступы*/
}

img {
  display: block;
  max-width: 100%;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  /*чтобы не было горизонтального скролла*/
  width: 100%;
  min-width: 960px;
  min-height: 100%;
}

/* .wrapper__content {
  flex: 1;
} */
.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.hero {
  background: url("../../images/bg/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  min-height: 650px;
  height: 100vh;
  color: #fff;
  position: relative;
}
.hero:before {
  content: url("../../images/decor/leaf.png");
  position: absolute;
  bottom: -50px;
  left: 2%;
}
.hero:after {
  content: url("../../images/decor/berries.png");
  position: absolute;
  bottom: -50px;
  right: 0;
}
.hero__container {
  background: url("../../images/bg/chocolates.png") right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px;
}
.hero__text-content {
  margin-bottom: 85px;
  width: 38%;
}
.hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.hero__subtitle {
  margin-bottom: 47px;
  font-size: 21px;
  line-height: 26px;
}

.header {
  margin-bottom: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item {
  margin-right: 29px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  line-height: 30px;
}
/* .menu__item_active .menu__link {
  color: #dfb56d;
} */
/* .menu__link:hover {
  color: #dfb56d;
} */
.logo {
  display: block;
  margin-right: 10px;
}

.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.phone-number__icon-img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.features {
  display: flex;
  justify-content: space-between;
  width: 48%;
}
.features__item {
  margin-right: 47px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}
.feature__icon {
  min-width: 45px;
  margin-right: 7px;
}
.feature__text {
  font-size: 16px;
  min-width: 65px;
  line-height: 20px;
}

.btn {
  font-size: 19px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 33px 19px 35px;
  border-radius: 100px;
  line-height: 1;
}
.btn_theme_light {
  background-color: #fff;
  color: #365a49;
  transition: color, background-color 0.3s;
}
.btn_theme_light:hover {
  background-color: #365a49;
  color: #fff;
}
.btn_theme_dark {
  background-color: #365a49;
  color: #fff;
  transition: color, background-color 0.3s;
}
.btn_theme_dark:hover {
  background-color: #fff;
  color: #365a49;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title {
  color: #000;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.section__title_mb_small {
  margin-bottom: 30px;
}

.headline {
  text-align: center;
  margin-bottom: 41px;
}
.headline__title {
  margin-bottom: 13px;
  line-height: 1;
}
.headline__subtitle {
  padding: 0 26%;
  line-height: 22px;
}

.benefits {
  display: flex;
}
.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;
}
.benefits__item:before {
  content: url("../../images/decor/separator.png");
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
.benefit__image {
  margin-bottom: 30px;
}
.benefit__image-wrapper {
  display: inline-flex;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__icon {
  width: 75px;
  height: 59px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__title {
  color: #000;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 13px;
}
.benefit__desc p {
  font-weight: 300;
  line-height: 22px;
}

.benefits-section {
  position: relative;
  background: url("../../images/decor/side-leaf.png") left top 57% no-repeat;
}
.benefits-section:before {
  content: url("../../images/decor/bars-and-berries.png");
  position: absolute;
  bottom: -93px;
  left: 0;
}

.reviews-section {
  position: relative;
  background: url("../../images/decor/granola-and-berries.png") right top 10% no-repeat;
}
.reviews-section:before {
  content: url("../../images/decor/leftside-leaf.png");
  position: absolute;
  bottom: -130px;
  left: 0;
}
.reviews-section:after {
  content: url("../../images/decor/multi-berries.png");
  position: absolute;
  bottom: -60px;
  left: 0;
}

.reviews__display {
  background: url("../../images/decor/grey-berries.png") right top 5% no-repeat;
  background-color: #f8faf9;
  padding: 50px 178px 34px 45px;
  display: flex;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}
.reviews__avatar {
  width: 254px;
  height: 260px;
  margin-right: 20px;
}
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
}
.reviews__title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.reviews__text {
  margin-bottom: 25px;
}
.reviews__text p {
  line-height: 22px;
}
.reviews__author {
  color: #000;
  font-weight: 500;
}
.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s;
}
.interactive-avatar:hover {
  border-color: #365a49;
}
.interactive-avatar_active {
  border-color: #365a49;
}
.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.interactive-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}