.ingredient {
  display: flex;
  justify-content: space-between;
  font-size: rem(16px);
  line-height: 1.5;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: rem(35px);
    height: rem(35px);
    margin-right: rem(20px);
  }

  &__title {
    font-weight: 500;
    margin-right: rem(20px);
  }

  &__amount {
    font-weight: 400;
  }
}