.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: rem(24px);
  line-height: rem(30px);
  text-transform: uppercase;

  transition: .3s;

  &:hover {    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .phone-number__icon-img {
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    }
  }

  &_theme_green {
    color: $darkGreen;

    .phone-number__icon-img {
      fill: $darkGreen;
    }
  }

  &_size_small {
    font-size: rem(21px);
  }

  &__icon {
    flex-shrink: 0; // без сжатия

    &-img {
      width: rem(12px);
      height: rem(12px);
      margin-right: rem(6px);
      fill: #fff;
    }
  }

  &__text {
    white-space: nowrap;
  }
}
