.benefits-section {
  position: relative;
  

  @include tablets {
    background-position: left top 5%;
    min-height: rem(1000px);
  }

  @include phones {
    min-height: rem(707px);
  }

  @media screen and (min-width: 480px) {
    background: url("../images/decor/side-leaf.png") left top 57% no-repeat;
  }

  &:before {
    // content: url("../images/decor/bars-and-berries.png");
    content: "";
    position: absolute;
    bottom: rem(-93px);
    left: 0;

    // @include phones {
    //   display: none;
    // }

    @media screen and (min-width: 480px) {
      content: url("../images/decor/bars-and-berries.png");
    }
  }

}