.btn {
  font-size: rem(19px);
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: rem(22px) rem(33px) rem(19px) rem(35px);
  border-radius: 32px;
  line-height: 1;
  border: none;
  cursor: pointer;

  &_theme_light {
    background-color: #fff;
    color: $darkGreen;
    transition: color, background-color .3s;

    &:hover {
      background-color: $darkGreen;
      color: #fff;
    }
  }

  &_theme_dark {
    background-color: $darkGreen;
    color: #fff;
    transition: color, background-color .3s;

    &:hover {
      background-color: #fff;
      color: $darkGreen;
    }
  }

  &_theme_transparent {
    background-color: transparent;
    color: #000;
    text-transform: none;
    font-weight: normal;
    transition: color .3s;

    &:hover {
      color: $darkGreen;
    }
  }
}