.feature {
  display: flex;
  
  &__icon {
    min-width: rem(40px);
    margin-right: rem(7px);

    &-img {
      width: rem(44px);
      height: rem(44px);
      fill: #c6f7ff;
    }
  }

  &__text {
    font-size: rem(16px);
    min-width: rem(65px);
    line-height: rem(20px);
  }
}