.form {
  display: flex;

  &__col {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 15px;
  }

  &__block {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    border: none;
    border: 3px solid transparent;
    padding: 18px 11px;
    color: #000;
    font-family: "Open Sans";
    // transition: border-color .3s;

    &:focus {
      outline: none;
      border-color: #dee2bd;
    }

    &_textarea {
      height: 180px;
      resize: none;
    }
  }

  &__controls-wrapper {
    margin-bottom: 25px;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    // transition: box-shadow .3s;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px #dee2bd;
    }
  }
}