.header {
  margin-bottom: rem(102px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    margin-bottom: 0;
  }

  .phone-number.header__phone-number {
    @include tablets {
      display: none;
    }
  }
}