.ingredients {
  width: rem(270px);
  background-color: #fff;
  padding: rem(22px) rem(18px) rem(21px) rem(30px);
  color: #000;
  border-radius: 5px;

  &__item {
    margin-bottom: rem(15px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}