.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__item {
    margin-right: 29px;
    transition: text-shadow .3s;

    &_active {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    line-height: 30px;
    transition: text-shadow .3s;

    &:hover {    
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

// .menu__list {
//   display: flex;
//   justify-content: space-between;
// }

// .menu__item {
//   margin-right: 55px;
// }

// .menu__item:last-child {
//   margin-right: 0;
// }

/* .menu__item_active .menu__link {
  color: #dfb56d;
} */

// .menu__link {
//   font-size: 14px;
//   text-decoration: none;
//   color: #fff;
//   line-height: 30px;
//   /* transition: color.3s; */
// }

/* .menu__link:hover {
  color: #dfb56d;
} */