.menu {
  margin: 0 rem(30px);

  @include tablets {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__item {
    margin-right: rem(29px);
    margin-bottom: rem(10px);
    transition: text-shadow .3s;

    &_active {
      text-shadow: 0 0 rem(10px) rgba(0, 0, 0, 0.2);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    line-height: rem(30px);
    white-space: nowrap;
    transition: text-shadow .3s;

    &:hover {    
      text-shadow: 0 0 rem(10px) rgba(0, 0, 0, 0.2);
    }
  }
}