.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  // &_align_right {
  //   margin-left: auto;
  // }

  &__icon-img {
    width: 12px;
    height: 12px;
    margin-right: 6px;
  }
}
