.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: rem(11px);
  margin-right: rem(20px);

  &_checkbox {
    .radio__visible {
      border-radius: 0;

      &:before {
        width: rem(11px);
        height: rem(9px);
        mask-image: url("../images/icons/checkmark.svg");
        -webkit-mask-image: url("../images/icons/checkmark.svg");
        background-color: $darkGreen;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        // background: url("data:image/svg+xml;utf8,<svg fill='red'><use xlink:href='../../images/icons/checkmark.svg'></use></svg>") center center no-repeat;
        // background: url("../images/icons/checkmark.svg") center center no-repeat;          
        // background: url("data:image/svg+xml;utf8, %3Csvg style='fill:black;'%3E%3Cuse xlink:href='./images/icons/sprite.svg#checkmark'%3E%3C/use%3E%3C/svg%3E") center center no-repeat;
      }
    }
  }

  &__elem {
    display: none;

    &:checked ~ .radio__visible {
      &:before {
        display: block;
      }
    }
  }

  &__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &:before {
      content: "";
      display: none;
      width: rem(14px);
      height: rem(14px);
      background: $darkGreen;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}