.reviews-section {
  position: relative;
  background: url("../images/decor/granola-and-berries.png") right top 10% no-repeat;

  &:before {
    content: url("../images/decor/leftside-leaf.png");
    position: absolute;
    bottom: rem(-130px);
    left: 0;
    z-index: $z-review-leaf; //потом убрать
  }

  &:after {
    content: url("../images/decor/multi-berries.png");
    position: absolute;
    bottom: rem(-60px);
    left: 0;
    z-index: $z-review-berries; // потом убрать
  }
}