.slider-section {
  position: relative;
  background-color: #f8faf9;

  &:before {
    content: url("../images/decor/slider-leaf.png");
    position: absolute;
    bottom: rem(-180px);
    right: 0;
    z-index: 1;
  }

  &:after {
    content: url("../../images/decor/blueberries.png");
    position: absolute;
    bottom: rem(-65px);
    right: 0;
    z-index: 2;
  }
}