.team-section {
  position: relative;

  &:before {
    content: url("../images/decor/single-raspberry.png");
    position: absolute;
    bottom: -8%;
    left: 1%;

    // @include phones {
    //   bottom: -38%;
    // }
  }
}