.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  
  &__item {
    margin-right: 55px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 30px;
  }
}

// .menu__list {
//   display: flex;
//   justify-content: space-between;
// }

// .menu__item {
//   margin-right: 55px;
// }

// .menu__item:last-child {
//   margin-right: 0;
// }

/* .menu__item_active .menu__link {
  color: #dfb56d;
} */

// .menu__link {
//   font-size: 14px;
//   text-decoration: none;
//   color: #fff;
//   line-height: 30px;
//   /* transition: color.3s; */
// }

/* .menu__link:hover {
  color: #dfb56d;
} */