.phone-number {
  font-style: normal;
  text-align: right;
  display: flex;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.phone-number:before {
  content: "";
  width: 12px;
  height: 11px;
  background: url(../../images/icons/phone.png) no-repeat center center;
  display: inline-block;
}